<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@contact.name%>
	</h1>
</div>

<form title="Edit Contact" 
	  class="panel" 
	  id="contact_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@contact.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="contact[name]" value="<%=@contact.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Mail: </label>
			  <input type="text" name="contact[mail]" value="<%=@contact.mail%>"/>
		  </div>
		
		  <div class="row">
			  <label>Phone: </label>
			  <input type="text" name="contact[phone]" value="<%=@contact.phone%>"/>
		  </div>
		
		  <div class="row">
			  <label>Company: </label>
			  <input type="text" name="contact[company]" value="<%=@contact.company%>"/>
		  </div>
		
		  <div class="row">
			  <label>Location: </label>
			  <input type="text" name="contact[location]" value="<%=@contact.location%>"/>
		  </div>
		
		  <div class="row">
			  <label>Rating: </label>
			  <input type="text" name="contact[rating]" value="<%=@contact.rating%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @contact.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>