<div class="toolbar">
	<h1 id="pageTitle">
		<%=@contact.first_name%> <%= @contact.last_name %>
	</h1>
</div>

<div class="panel" selected="true">

<table class="grid">
  
  <tr>
	<td class="gridleft">Nombre</td>
    <td class="gridright"><%=@contact.first_name%> <%= @contact.last_name %></td>
  </tr>
  
  <tr>
	<td class="gridleft">Correo</td>
    <td class="gridright"><%=@contact.email%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Telefono</td>
    <td class="gridright"><%=@contact.phone%></td>
  </tr>
  
</table>
</div>