<div class="toolbar">
	<%= link_to "Buscar", url_for(:action => :new), "id=\"backButton\""  %>
	<h1 id="pageTitle" class='category_title'>
		<%=@freight.category %>
	</h1>
</div>

<div class="panel" selected="true">

<table class="grid">
	
  <tr>
	<td class="gridleft">Origen</td>
    <td class="gridright"><%=@freight.origin%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Destino</td>
    <td class="gridright"><%=@freight.destination%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Categoria</td>
    <td class="gridright"><%=@freight.category%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Peso</td>
    <td class="gridright"><%=@freight.weight%></td>
  </tr>

  <tr>
	<td class="gridleft">Salida</td>
    <td class="gridright"><%= display_date(@freight.date_departure) %></td>
  </tr>

  <tr>
	<td class="gridleft">Comentarios</td>
    <td class="gridright"><%=@freight.comments %></td>
  </tr>
  
</table>

<div style="position: relative; height: 100px;">
  <form method="POST" action="<%= url_for(:controller => 'Contact', :action => 'create') %>">
  	<input type="hidden" name="contact[offer_id]"  value="<%= @freight.object %>" />
  	<input type="submit" value="Ver datos de contacto" class="blueButton"/>
  </form>
</div>
