<div class="toolbar">
	<h1 id="pageTitle">
		<%=@freight.origin%>
	</h1>
</div>

<div class="panel" selected="true">

<a class="button right_button" href="<%=url_for(:action => :edit, :id => @freight.object)%>" target="_self">Edit</a>

<table class="grid">
  
  <tr>
	<td class="gridleft">Origin</td>
    <td class="gridright"><%=@freight.origin%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Destination</td>
    <td class="gridright"><%=@freight.destination%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Category</td>
    <td class="gridright"><%=@freight.category%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Weight</td>
    <td class="gridright"><%=@freight.weight%></td>
  </tr>
  
</table>
</div>